<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
</head>
<body>
  <%console.log(category);%>
    <h1>Edit the <%= category[0].name %> Category</h1>
    <main>
        <form action="/categories/<%= category[0].category_id %>?_method=PATCH" method="POST">
            <label for="categoryName">Name</label>
            <input 
              type="text" 
              name="categoryName" 
              id="categoryName"
              value="<%= category[0].name %>"
              required
            >
            <label for="categoryDescription">Description</label>
            <textarea 
              name="categoryDescription" 
              id="categoryDescription"
              required
            ><%= category[0].description %></textarea>
            <button type="submit">Update</button>
          </form>
    </main>
</body>
</html>